<ion-view view-title="Add Advisor">
  <ion-content>
    <div class="list">
	  <label class="item item-input">
	    <input type="text" placeholder="Advisor First Name">
	  </label>
	  <label class="item item-input">
	    <input type="text" placeholder="Advisor Last Name">
	  </label>
	  <label class="item item-input">
	    <input type="text" placeholder="Username">
	  </label>
	  <label class="item item-input">
	    <input type="password" placeholder="Password">
	  </label>
	</div>
	<button class="button button-block button-balanced">
	  Add
	</button>
	
  </ion-content>
</ion-view>
