<ion-view view-title="Sign-up">
  <ion-content>
    <div class="list">
	  <label class="item item-input">
	    <input type="text" placeholder="Organization Name">
	  </label>
	  <label class="item item-input">
	    <input type="text" placeholder="Organization code">
	  </label>
	  <label class="item item-input">
	    <input type="text" placeholder="Tag">
	  </label>
	  <label class="item item-input">
	    <textarea placeholder="Custom Reply"></textarea>
	  </label>
	</div>
	<button class="button button-block button-balanced">
	  Sign-up
	</button>
	<button class="button button-block button-royal">
	  Have an account? Sign-in
	</button>
  </ion-content>
</ion-view>
