<ion-view view-title="Account">
  <ion-content>
    <ion-list>
    <a class="item" href="#">
    	<i class="icon ion-person"></i>
	   {{settings.f_name}} {{settings.l_name}}
	</a>
	<a class="item" href="#">
	   @{{settings.user_name}}
	</a>
	<!--<a class="item" href="#">
		<i class="icon ion-briefcase"></i>
	   #helpSH
	</a>-->
    <ion-toggle  ng-model="settings.available" ng-change="statusChange()">
        Available
    </ion-toggle>
    </ion-list>
    <button class="button button-block button-energized">
	  Reset Password
	</button>
    <button class="button button-block button-assertive">
	  Log Out
	</button>
  </ion-content>
</ion-view>
