<ion-view view-title="Account">
  <ion-content>
    <ion-list>
    <a class="item" href="#">
    	<i class="icon ion-person"></i>
	   Akshay Pushparaja
	</a>
	<a class="item" href="#">
	   @apushpar
	</a>
	<a class="item" href="#">
		<i class="icon ion-briefcase"></i>
	   #helpSH
	</a>
    <ion-toggle  ng-model="settings.enableFriends">
        Available
    </ion-toggle>
    </ion-list>
    <button class="button button-block button-energized">
	  Reset Password
	</button>
    <button class="button button-block button-assertive">
	  Log Out
	</button>
  </ion-content>
</ion-view>
